
<script src="https://js.stripe.com/v3/"></script>

{{#if cartItems}}

<div id="cart">
  <div id="list">
    {{#each cartItems}}
      <div id="product-shelf">
        <div id="image">
          <img src="{{image}}"/>
        </div>
        <div id="details">
          <h5 id="title">{{title}}</h5>
          <div id="sub-title">
            <p id="category">{{category}}</p>
          </div>
          <p id="description">{{description}}</p> 
          <div id="foot">
            <div id="left">
              <button class='cartRemove' value={{id}}>Remove</button> <!-- Does nothing yet-->
              <p id="quantity">Quantity: 1</p> <!-- Does nothing yet-->
            </div>
            <p id="price">${{price}}</p>
          </div>
        </div>
      </div>
    {{/each}}
    <div id="sub-total">
      <p id="count">x Items</p> <!-- Does nothing yet-->
      <p class="total">total: $x.xx</p> <!-- Does nothing yet-->
    </div>
  </div>
  <div id="receipt-view">
    <div id="overview">
      <!-- we will want to do some js magic here-->
      {{#each cartItems}}
        <p class="cost-value">${{price}}</p>
      {{/each}}
      <!-- some kind of divide -->
      <p class="total">$x.xx</p>
    </div>
    <div id="checkout">
      <form action='/cart/create-checkout-session' method='POST'>
        <button class='checkout'>Checkout</button> <!-- Does nothing yet-->
        </form>
    </div>
    <div id="footer">
      <p></p>
      <div class="checkbox">
        <input type="checkbox" name="check-one"/>
        <label for="check-one"> Sign-up for our newsletter for weekly deals just for you! </label>
      </div>
      <div class="checkbox">
        <input type="checkbox" name="check-two"/>
        <label for="check-two"> Get first-class shipping for $24.00 more! </label>
      </div>
    </div>
  </div>
  <script src="/scripts/cart.js"></script>
</div>
{{else}}
<div style="text-align: center;">
  <h2>That's suspicious... that's weird..</h2>
  <h3>Looks like you have no items in your cart</h3>
<a href='/products'><button>Start shopping</button></a>
</div>
{{/if}}


