<div id="cart">
  <div id="list">
    {{#each cartItems}}
      <div id="product-shelf">
        <div id="image">
          <img src="{{image}}"/>
        </div>
        <div id="details">
          <h3 id="title">{{title}}</h3>
          <div id="sub-title">
            <p id="category">{{category}}</p>
            
          </div>
          <p id="description">{{description}}</p> 
          <div id="foot">
            <div id="left">
              <a href="">Remove</a> <!-- Does nothing yet-->
              <p id="quantity">Quantity: 1</p> <!-- Does nothing yet-->
            </div>
            <p id="price">${{price}}</p>
          </div>
        </div>
      </div>
    {{/each}}
    <div id="sub-total">
      <p id="count">x Items</p> <!-- Does nothing yet-->
      <p id="total">total: $x.xx</p> <!-- Does nothing yet-->
    </div>
  </div>
  <div id="receipt-view">
    <div id="overview">
      <!-- we will want to do some js magic here-->
      {{#each cartItems}}
        <p id="cost-value">${{price}}</p>
      {{/each}}
      <!-- some kind of divide -->
      <p id="total">$x.xx</p>
    </div>
    <div id="checkout">
      <button>Checkout</button> <!-- Does nothing yet-->
    </div>
    <div id="footer">
      <p>filler text that tells you about deals and warranty and promotes the store credit card. Also don't forget to have a total of $200 or more for free shipping</p>
      <input type="checkbox" name="check-one"/>
      <label for="check-one"> Sign-up for our newsletter for weekly deals just for you! </label>
      <input type="checkbox" name="check-two"/>
      <label for="check-two"> Get first-class shipping for $24.00 more! </label>
    </div>
  </div>
</div>
<!-- TODO: Make sure to querry cart with products from user -->