<section id='sectionProducts'>
  <form action='/products/search' method='POST'>
    <input id='search' type='text' name='search'/>
    <button type='submit'>Search</button>
  </form>
  {{#if admin}}
    <div id='productsSubNav'>
      <a href='/admin/newProduct'>Add Product</a>
    </div>
  {{/if}}
  <ul id='productsList'>
    {{#if admin}}
      {{#each products}}
        <li class='productContainer'>
          <a href='/products/{{id}}'>
            <div class='productPictureContainer'>
              <img src='{{image}}' />
            </div>
            <p>{{title}}</p>
          </a>
          <div class='priceContainer'>
            <button class='deleteButton' value='{{id}}'>Delete</button>
            <p>${{price}}</p>
          </div>
        </li>
      {{/each}}
    {{else}}
      {{#each products}}
        <li class='productContainer'>
          <a href='/products/{{id}}'>
            <div class='productPictureContainer'>
              <img src='{{image}}' />
            </div>
            <p>{{title}}</p>
          </a>
          <div class='priceContainer'>
            <p>${{price}}</p>
          </div>
        </li>
      {{/each}}
    {{/if}}
  </ul>
</section>
<script src="/scripts/products.js"></script>

