{{#with product}}
    <section class="single-product-container">
        <img class="single-product-image" src={{image}} alt={{title}} />
        <div class="single-product-text-container">
            <div class="single-product-title">
                {{title}}
                {{#if admin}}
                <span class="single-product-admin-button"><a href="/products/{{id}}/update">Edit Product</a></span>
                {{/if}}
            </div>
            <div class="single-product-category">{{category}}</div>
            <div class="single-product-description">{{description}}</div>
            <div class="single-product-price">${{price}}</div>
            <form action='/products/{{id}}' method='POST' class="single-product-cart-form">
                <button type='submit' class="single-product-cart-cta">Add to Cart</button>
            </form>
            
            {{!-- <div class="single-product-admin-button" id="single-product-delete-button">
                <a href="/">Delete Product</a>
            </div> --}}
        </div>
    </section>
{{/with}}