<section id='productFormSection'>
  <h2>Update Product</h2>
  {{#if validationError}}
{{#each validationError}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Error:</strong> {{this.msg}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/each}}
{{/if}}
  {{#with product}}
    <form action='/products/{{id}}/update' method='POST' id='productForm'>
      <ul>
        <li>
          <label for='title'>Title</label>
          <input type='text' id='title' name='title' value='{{title}}' required />
        </li>
        <li>
          <label for='price'>Price</label>
          <input type='number' step="0.01" id='price' name='price' value='{{price}}' required />
        </li>
        <li>
          <label for='category'>Category</label>
          <select id='category' name='category' class="addProductFormElement" required>
            {{#select category}}
            {{/select}}
          </select>
        </li>
        <li>
          <label for='image'>Image</label>
          <input type='url' id='image' name='image' value='{{image}}' required />
        </li>
        <li>
          <label for='description'>Description</label>
          <textarea rows='7' cols='50' id='description' name='description' required>{{description}}
          </textarea>
        </li>
      </ul>
      <div id='relatedToForm'>
        <div id='imagePreview'>
          <p>Image Preview</p>
          <img src='{{image}}' />
        </div>
        <div id='formButtons'>
          <button id='resetButton'>Clear</button>
          <button id='updateProductButton'>Update</button>
        </div>
      </div>
    </form>
  {{/with}}
</section>
{{!-- <script src="/scripts/updateProduct.js"></script> --}}
